Checks: '-*,modernize-*, readability-*, performance-*, misc-*, cppcoreguidelines-*,
         -modernize-use-nodiscard
         -readability-magic-numbers, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-narrowing-conversions'
WarningsAsErrors: '*'